.content.custom
  h1,
  h2,
  h3,
  h4,
  h5
    font-weight $fw-bold

    // Styles related to "fixAnchorsOffset"
    .fake-header-anchor
      display none

.content.custom:not(.isLanding)
  margin-top $base-sizing

  p
    margin $base-small-sizing 0
    font-size $fs-text-base
    line-height $base-sizing


  h1
    margin-top ($base-sizing * 2)
    margin-bottom (2 * $base-small-sizing)
    font-size $fs-7
    line-height (1.83 * $base-sizing)
    text-align center

    @media (min-width: $screen-md-min)
      margin-bottom (3 * $base-sizing)
      font-size $fs-8
      line-height (2.06 * $base-sizing)

  h2
    margin-top ($base-sizing * 2)
    margin-bottom $base-small-sizing
    font-size $fs-6

    // Styles related to "fixAnchorsOffset"
    .fake-header-anchor
      display block
      position relative
      top -50px
      visibility hidden
      opacity 0

    @media (min-width $screen-md-min)
      margin-bottom (0.953 * $base-sizing)

  h3
    margin $base-sizing 0 $base-small-sizing 0
    font-size $fs-4
    line-height $base-sizing

  h4,
  h5
    margin-top $base-sizing
    margin-bottom $base-small-sizing
    font-size $fs-text-base
    line-height $base-sizing

  a
    color $c-primary

  em
    font-style italic

  strong
    font-weight $fw-bold

  ul,
  ol
    margin 0 0 $base-sizing
    padding 0

  ol
    list-style-type decimal
    padding-left 20px

    li
      @media (max-width $screen-sm-max)
        padding-left 1em
        text-indent 0

      &::before
        content none

  ul ul
    margin-bottom 0

    li::before
      background-color transparent
      border 1px solid $c-primary

  li
    position relative
    padding-left 20px
    font-size $fs-text-base
    line-height $base-sizing

    &::before
      circle 8px
      position absolute
      top 12px
      left 0
      content ''
      background-color $c-primary

    p:first-of-type::first-letter
      float left
      padding 0
      // font-size $fs-text-base
      // font-weight $fw-regular
      // line-height $base-sizing
