pos(type, a, b = false, c = false, d = false)
  position type
  if a b c d
    top a
    right b
    bottom c
    left d
  else if a b
    top a
    bottom a
    right b
    left b
  else
    top a
    right a
    bottom a
    left a

rect(a)
  width a
  height a

circle(a)
  rect a
  border-radius 50%
