// Typography
$base-sizing = 2rem
$base-small-sizing = .5rem

$ff-base = Helvetica
$ff-serif = Georgia, sans-serif

$fs-0 = 12px
$fs-1 = 14px
$fs-2 = 16px
$fs-3 = 18px
$fs-4 = 20px
$fs-5 = 24px
$fs-6 = 30px
$fs-7 = 36px
$fs-8 = 64px

$fs-text-base = 1rem

$fw-regular = 400
$fw-semibold = 600
$fw-bold = 800

// Colors
$c-primary = #ff9a57
$c-black = #000
$c-white = #fff
$c-text = #333
$c-green = #3fa329
$c-red = #f62200
$c-grey-very-light = #f5f5f5
$c-grey-light = #b3b3b3
$c-landing-bg = #fbfbfb
$c-landing-text = #3d3d3d
$c-landing-gray = #878787
$c-footer-border = darken($c-landing-bg, 10%)
$c-footer-socials = #cdcdcd

// Breakpoints
$screen-sm-min = 600px
$screen-sm-max = 991px
$screen-md-min = 992px
$screnn-md-max = 1280px
$screen-lg-min = 1440px

$landing-container-width = 1180px
$landing-container
  max-width $landing-container-width
  width 100%
  margin: 0 auto
  padding 0 20px

// Animations & Easings
$base-easing = cubic-bezier(0.175, 0.885, 0.32, 1.275)

@require '~@temp/override'
