// Typography
$base-sizing = 2rem
$base-small-sizing = .5rem

$ff-sans-serif = 'Averta Std', sans-serif
$ff-serif = 'Noto Serif', sans-serif

$fs-0 = 12px
$fs-1 = 14px
$fs-2 = 16px
$fs-3 = 18px
$fs-4 = 20px
$fs-5 = 24px
$fs-6 = 30px
$fs-7 = 36px
$fs-8 = 64px

/* FONT WEIGHTS */
$fw-regular = 400
$fw-semibold = 600
$fw-bold = 800


// Colors
$c-primary = #ff9a57
$c-black = #000
$c-white = #fff
$c-grey-very-light = #f5f5f5
$c-grey-light = #b3b3b3
